.player{
-webkit-transition: all 180ms linear;
-moz-transition: all 180ms linear;
-ms-transition: all 180ms linear;
-o-transition: all 180ms linear;
transition: all 180ms linear;
width: 250px;
}

#meta{
    position: absolute;
    top: 200px;
    left: 1200px;
    width: 20px;
    height: 200px;
    background-color: black;
}